{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ page.get_verbose_name|slugify }}{% endblock %}

{% block content %}

	<article id="blog-post">
		<div class="page-header">
			<h2>{{ page.title }}</h2>
			{# TODO post-meta? meta? #}
			<p class="post-meta">By {{ page.owner }} at {{ page.first_published_at }}</p>
			<a href="{% pageurl page.blog_index %}">back to blog</a>
		</div>

		{% if page.main_image %}
			{% image page.main_image width-400 %}
		{% endif %}

		{{ page.body }}
	</article>

{% endblock %}
