{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-connection{% endblock %}

{% block content %}

<div id="title" class="title title-about">
	<div>
		<h1>{{ page.title }}</h1>
		<h3>{{ page.subtitle }}</h3>
		{% with prev=page.get_prev_siblings.live.first next=page.get_next_siblings.live.first %}
			{% if prev %}
				<a href="{% pageurl prev %}" title="{{ prev }}" class="title-nav title-prev"></a>
			{% endif %}
			{% if next %}
				<a href="{% pageurl next %}" title="{{ next }}" class="title-nav title-next"></a>
			{% endif %}
		{% endwith %}
	</div>
</div>

<div class="hero-section">
	{% if page.main_image %}
		{% image page.main_image original as image %}
		<div class="full-bg-image" style="background-image:url({{ image.url }})"></div>
	{% endif %}
	<!-- need to handle videos here as well, same functionality as homepage -->
</div>

<div class="text-description">
	<div class="container">
		<p>Aliqua veniam pariatur elit sint dolor ad elit culpa esse adipisicing ex mollit velit amet occaecat non dolore. Id proident consectetur sunt aliquip sit ea eiusmod irure adipisicing aliquip. Exercitation cupidatat eu excepteur occaecat dolore esse duis nulla ullamco quis. Consequat sint cupidatat laborum eu excepteur quis amet. Ut excepteur ipsum incididunt mollit exercitation veniam eu et anim.</p>
	</div>
</div>

<div class="container">

	<h4 class="text-center">From Our Producers</h4>
	{{ page.body }}

	<div class="connection-prods">
		<h6>Productions Mentioned</h6>
		<a href="#" class="link-large">Rise of Charm City</a>,  <a href="#" class="link-large">Frontiers of Change</a>
	</div>
</div>

<div class="text-description connection-more">
	<div class="container">
		<h6>More connections</h6>
		<a href="#" class="link-large">Rise of Charm City</a>,  <a href="#" class="link-large">Frontiers of Change</a>
	</div>
</div>

{% endblock %}
