{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-connections-index{% endblock %}

{% block content %}


<div id="title" class="title title-about">
	<div>
		<h1>{{ page.title }}</h1>
		<h3>{{ page.subtitle }}</h3>
	</div>
</div>

<div class="description">{{ page.intro|richtext }}</div>


<div class="container-full">
	{% for post in page.posts %}

		{% image post.tile_image|default:post.video_poster_image max-2000x2000 as tile_image %}
		<div class="post-item">
			<div class="post-item-bg" style="background-image:url({{ tile_image.url }})"></div>
			<a class="post-item-link" href="{% pageurl post %}">
				<div class="post-item-content">
					<span class="post-item-title">{{ post.title }}</span>
					<span class="post-item-loc">{{ post.subtitle }}</span>
				</div>
			</a>
		</div>
	{% empty %}
		No posts.
	{% endfor %}
</div>

{% endblock %}
