{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ page.get_verbose_name|slugify }}{% endblock %}

{% block content %}
	<h1>{{ page.title }}</h1>
	<h3>{{ page.subtitle }}</h3>

	<hr>

	{% if page.related_links.all %}
		<ul>
			{% for item in page.related_links.all %}
				<li>
					{{ item.title }}
					<br>
					{% if item.link_page.main_image %}
						{% image item.link_page.main_image width-200 %}
						<br>
					{% endif %}
					<a href="{{ item.link }}">{{ item.link_page|default:item.link }}</a>
				</li>
				<br>
			{% endfor %}
		</ul>
		<hr>
	{% endif %}

	<div class="body-content">{{ page.intro|richtext }}</div>

	<hr>

	{% for post in page.posts %}
		<a href="{% pageurl post %}">{{ post.title }}</a>
		<br>
	{% empty %}
		No posts.
	{% endfor %}
{% endblock %}
