{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

	<article id="blog-post">
		<div class="page-header">
			<h2>{{ self.title }}</h2>
			{# TODO post-meta? meta? #}
			<p class="post-meta">By {{ self.owner }} at {{ self.first_published_at }}</p>
			<a href="{% pageurl self.blog_index %}">back to blog</a>
		</div>

		{% if self.main_image %}
			{% image self.main_image width-400 %}
		{% endif %}

		{{ self.body }}
	</article>

{% endblock %}
