__pycache__/
Session.vim
*.sw?

ansible/localore.zip
db.sqlite3
localore/localore/.env.local
localore/media/

env/
.nodemonignore
.sass-cache/
npm-debug.log
localore/node_modules/
localore/localore/static/bower_components/
