__pycache__/
Session.vim
*.sw?

ansible/localore.zip
db.sqlite3
localore/localore/.env.local
localore/media/

env/
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
localore/localore/static/bower_components/
localore/localore/static/css
localore/localore/static/dist
.tmp
localore/localore/templates/base.html
.DS_Store
venv/
