<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="share">
  <div class="modal-close">
    <a data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </a>
  </div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>{{ share_your_story_text|striptags }}</p>
        <ul class="share-links list-inline">
          <li><a class="facebook-share" href="" onclick="fbShare()"></a></li>
          <li><a class="twitter-share" href="https://twitter.com/intent/tweet?hashtags=findingamerica&via=airmedia"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% block extra_js %}
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

	{# Facebook Share #}
	<script>
	  window.fbAsyncInit = function() {
		FB.init({
		  // appId      : '111659572649977',    // debug
		  appId      : '111649839317617',    // findingamerica.airmedia.org
		  xfbml      : true,
		  version    : 'v2.8'
		});
		FB.AppEvents.logPageView();
	  };

	  (function(d, s, id){
		 var js, fjs = d.getElementsByTagName(s)[0];
		 if (d.getElementById(id)) {return;}
		 js = d.createElement(s); js.id = id;
		 js.src = "//connect.facebook.net/en_US/sdk.js";
		 fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));

		 window.fbShare = function() {
			 FB.ui({
				  method: 'share',
					hashtag: '#findingamerica',
				  href: '{{ request.scheme }}://{{ site_hostname }}{{ page.url }}'
				  // href: '{{ request.scheme }}://findingamerica.airmedia.org/{{ page.url }}',
				}, function(response){});
		 };
	</script>
{% endblock %}
