html,body, #view {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #fff;
  font-family:  $roboto;
  color: $med-grey;

  &.intro {
    height: 100vh;
    overflow: hidden;
  }
}




.container {
  @include outer-container($grid-md);
  padding-top: 4em;
  padding-bottom: 4em;
  position: relative;

  @include media($tablet) {
      @include pad(3em 1.5em 3em 1.5em);
  }
  @include media($mobile) {
      @include pad(3em 1em 3em 1em);
  }
  //
  // &:before {
  //   content: '';
  //   display: block;
  //   background-color: green;
  //   position: absolute;
  //   top: 0;
  //   height: $header-title + 30px;
  //   width: 100%;
  // }

  &.no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

}

.container-full {
  @include outer-container(100%);
}

.fade-big {
  position: absolute;
  width: 100%;
  z-index: 0;
  height: 100vh;
  @include background-image(linear-gradient(top, rgba(75,75,75,0.25) 0%,rgba(0,0,0,0) 100%));
}

.description {
  background: url('../images/header_bg.jpg') fixed;
  background-size: 130%;
  background-position: top center;
  background-repeat: no-repeat;
  height: $header-title + 115px;
  width: 100%;
  position: relative;

  &.description-fluid {

    height: auto;
    text-align: center;
    background: url('../images/header_bg.jpg');
    background-size: cover;
    padding-top: $header-title + 45px;

    @include media($header-size) {
      padding-top: 85px;

      .template-president-page & {
        padding-top: 0;
      }
    }



    .rich-text {
      position: relative;
      display: inline-block;
      @include transform(none);
      left: inherit;
      bottom: inherit;
    }

    .share-prompt {

      display: block;
      margin-top: 45px;
      width: 100%;
      background-color: rgba(0,0,0,0.6);
      height: 85px;
      position: relative;
      @include transition(all 600ms ease-out);

      h5 {
        line-height: 85px;
        color: $orange;
        @include transition(all 600ms ease-out);
      }

      &:hover {

        background-color: rgba(0,0,0,0.7);
        text-decoration: none;

        h5 {
            // @include transform(scale(1.05));
        }
      }

    }


  }

  .rich-text {
    @include outer-container($grid-md);
    width: 80%;
    position: absolute;
    bottom: 25px;
    left: 50%;
    @include transform(translate(-50%));

    p {
      color: #000;
      text-align: center;
    }
  }

  @include media($header-size) {
    background: url('../images/header_bg_tablet.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto;

    .rich-text {

      position: static;
      @include transform(none);

      p {
        @include pad(2em default 2em default);
      }
    }

  }

  @include media($desktop-xl) {
    background-size: 105%;
  }

  @include media($mobile) {
    background-size: 225%;
  }


}

.accessible {
  &.clicked {
    outline: none;
  }
}

.text-description {
    background-color: #B8B7B7;
}

.text-center {
  text-align: center;
}


p {
  // @include span-columns(6);
}

hr {
  box-sizing: content-box;
  border: 0;
  height: 0;
  border-top: 1px solid $grey;
}

a {
  font-family: $roboto;
  // color: $dark-grey;
  color: $orange;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.link-large {
    font-size: 1.5em;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;

  .block-paragraph &, .block-heading &, .rich-text & {
    text-align: center;
  }
}

h6 {
  font-family: $roboto-reg;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}



.juicer-feed {
  height: 50vh;
  position: relative;
  background-color: $dark-grey;

  // &:before {
  //   content: '';
  //   display: block;
  //   @include abs-position;
  //
  //   opacity: 1;
  //   z-index: -1;
  //   @include transition(all 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000));
  //
  // }

  &.loaded {
    height: auto;

    &:before {
      // opacity: 0;
    }
  }

  &.post-overlay {
    background-color: #fff;
  }
}

.template-homepage {
  .juicer-feed {
    padding: 20px;
  }
}


.j-loading {

  position: relative;
  height: 76px !important;
  width: 76px !important;
  z-index: 3;
  top: 50% !important;
  margin-top: -38px !important;

  &:before {
    background-color: $orange !important;
  }

  border-color: $orange !important;
}


.j-filters {
	display: none !important;
}

.juicer-feed.image-grid .j-poster {
	visibility: visible !important;
	opacity: 1 !important;
}

.juicer-button {
  font-size: em(16) !important;
  border-radius: 7px !important;
  padding: .8em !important;
  font-family: $roboto !important;
  text-transform: capitalize !important;
  border-color: $orange !important;
  color: $orange !important;

  &:hover {
    background-color: $orange !important;
    color: #fff !important;
  }
}

.juicer-feed.slider .slick-prev:hover:before,
.juicer-feed.slider .slick-next:hover:before {
  color: $orange !important;
}

.juicer-feed.modern .j-text .j-message a,
.juicer-feed.image-grid .j-text .j-message a,
.juicer-feed.slider .j-text .j-message a,
.juicer-feed.hip .j-text .j-message a {
  color: $orange !important;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
