html,body, #view {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #fff;
  font-family:  $roboto;
  color: $med-grey;

  &.intro {
    height: 100vh;
    overflow: hidden;
  }
}




.container {
  @include outer-container($grid-md);
  padding-top: 4em;
  padding-bottom: 4em;
  position: relative;

  @include media($tablet) {
      @include pad(3em 1.5em 3em 1.5em);
  }
  @include media($mobile) {
      @include pad(3em 1em 3em 1em);
  }

  & .rich-text img, & .block-image img {
    @include img-responsive();
    margin: 2rem auto;
  }
  //
  // &:before {
  //   content: '';
  //   display: block;
  //   background-color: green;
  //   position: absolute;
  //   top: 0;
  //   height: $header-title + 30px;
  //   width: 100%;
  // }

}

.container-full {
  @include outer-container(100%);
}

.description {
  background: url('/static/images/header_bg.png') fixed;
  background-size: 130%;
  background-position: top center;
  background-repeat: no-repeat;
  height: $header-title + 100px;
  width: 100%;
  position: relative;

  .rich-text {
    @include outer-container($grid-md);
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;

    p {
      color: #000;
      text-align: center;
    }
  }

  @include media($header-size) {
    background: url('/static/images/header_bg_tablet.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto;

    .rich-text {

      position: static;

      p {
        @include pad(2em default 2em default);
      }
    }

  }

  @include media($desktop-xl) {
    background-size: 100%;
  }

  @include media($mobile) {
    background-size: 200%;
  }


}

.accessible {
  &.clicked {
    outline: none;
  }
}

.text-description {
    background-color: $light-grey;
}

.text-center {
  text-align: center;
}


p {
  // @include span-columns(6);
}


a {
  font-family: $roboto;
  // color: $dark-grey;
  color: $orange;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.link-large {
    font-size: 1.5em;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;

  .block-paragraph &, .block-heading &, .rich-text & {
    text-align: center;
  }
}

h6 {
  font-family: $roboto-reg;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.rich-text img {
	max-width: 100%;
	height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.responsive-object {
    position: relative;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &.embedly-embed {
      height: 100%;
    }

    &[src*='youtube'],
    &[src*='soundcloud'] {
      height: 100%;
    }

    &[src*='instagram'] {
      position: static;
      width: 100% !important;
      max-width: 100% !important;
    }
}

.fb-post {

  .block-embed &, .block-paragraph & {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

}

.block-caption {
  text-align: center;

  .rich-text {
    position: relative;
    top: -1.5rem;

    p {
      font-size: 90%;
    }

    p, a {
      font-family: $roboto-reg;
    }
  }
}

.j-loading {

  &:before {
    background-color: $orange !important;
  }

  border-color: $orange !important;
}



.j-filters {
	display: none !important;
}

.juicer-feed.image-grid .j-poster {
	visibility: visible !important;
	opacity: 1 !important;
}

.juicer-button {
  font-size: em(16) !important;
  border-radius: 7px !important;
  padding: .8em !important;
  font-family: $roboto !important;
  text-transform: capitalize !important;
  border-color: $orange !important;
  color: $orange !important;

  &:hover {
    background-color: $orange !important;
    color: #fff !important;
  }
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
