.hero-section {
  height: 100vh;
  position: relative;

  &.hero-section-3by4 {
    height: 75vh;
  }
}

#preview {
  z-index: 8;
}

#main-video {
  display: block;
  z-index: 7;
  background-color: #000;
  // &.playing {
  //   display: block;
  //   z-index: 8;
  // }
}

#youtube-embed {
  width: 100%; height: 100%;
}

#video-overlay {
  position: fixed;
  width: 100%; height: 90%;
  z-index: 10;
}

.full-bg-video {
  @include abs-position();
}

.full-bg-image {
  @include abs-position();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.play-icon {
  background: url('/static/images/play.png') no-repeat center;
  opacity: 0;
  @include transition(all 600ms ease-out);
  width: 61px;
  height: 88px;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 15;

  display: none;

  &.show {
    display: block;
    opacity: 0.8;
    @include transition(all 300ms ease-out);
  }

  &.pause {
    background: url('/static/images/pause.png') no-repeat center;

  }

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.after-link {

  background-color: rgba(0,0,0,0.8);
  @include abs-position();
  @include transition(opacity 600ms ease-out);
  z-index: -1;
  opacity: 0;

  &.show {
    z-index: 17;
    opacity: 1;
  }

  & > div {
    position: relative;
    width: 100%; height: 100%;
  }

  a {
    display: table;
    text-align: center;
    font-size: em(30);
    position: relative;
    top: 50%; left: 50%;
    @include transform(translate(-50%, -50%));
  }

}
