.hero-section {
  height: 100vh;
  position: relative;

  &.hero-section-3by4 {
    height: 75vh;
  }
}



.full-bg-video {
  width: 100%; height: 100%;
}

.full-bg-image {
  width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.play-icon {
  background: url('/static/images/play.png') no-repeat center;
  opacity: 0;
  @include transition(all 600ms ease-out);
  width: 53px;
  height: 80px;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;

  &.show {
    opacity: 0.5;
    @include transition(all 200ms ease-out);
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.live-feed {
  width: 100%;
  background-color: #4A4A4A;

  h4, p {
    font-weight: 400;
    color: #fff;
    text-align: center;
  }
}
