header {
  // background-color: $dark-grey;
  background-color: rgba(0,0,0,0.6);
  padding: 1.5em 1.5em;
  width: 100%;
  height: $header-md;
  position: fixed;
  top: 0; left: 0;
  z-index: 20;
  @include transition(opacity 600ms ease-out);

  -webkit-transition: -webkit-transform 1s cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -moz-transition: -moz-transform 1s cubic-bezier(0.075, 0.820, 0.165, 1.000);
  transition: transform 1s cubic-bezier(0.075, 0.820, 0.165, 1.000);
  &.scrolled {
    -webkit-transition: -webkit-transform 2.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -moz-transition: -moz-transform 2.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition: transform 2.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    @include transform(translateY(-$header-md * 1.5));
  }

  &.hide {
    opacity: 0;
  }

  @include media($mobile) {
    padding: 1em 1em 1.5em 1em;
    // padding: 1.5em 1em;
  }

  & .header-section-right {
    height: 100%;
    float: right;
  }

  .template-homepage & {
    // height: $header-md + 40;
    // @include filter-gradient(#231f20, #000000, vertical); // IE6-9

    background-color: transparent;

    &:after {
      content: '';
      display: block;
      @include abs-position();
      z-index: -1;
      height: $header-md + 100;
      @include background-image(linear-gradient(top, rgba(21,19,19,0.65) 0%,rgba(0,0,0,0) 100%));
    }

  }

  .nav-section {
    height: 100%;
    margin: 0 auto;
    position: relative;
    @include outer-container($grid-xl);
    // max-width: $grid-lg;

    .logo {
      @include vertical-align();
      @include transition(all 250ms ease-in-out);

      svg, img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .menu-icon {
      float:left;
      height: 60%;
      width: 25px;
      margin-right: 25px;
      position: relative;
      top: 3px;
      @include transition(all 200ms ease-out);
      @include transform-origin(center top);
      opacity: 0.6;

      &:hover {
        @include transform(scaleY(1.15));
        opacity: 1;
        cursor: pointer;
      }

      span {
        width: 100%;
        height: 15%;
        background-color: #fff;
        position: absolute;

        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
          @include transform(translateY(-50%));
        }
        &:nth-child(3) {
          bottom: 0;
        }
      }

      @include media($mobile) {
        top: 20%;
        margin-right: 1em;
        @include transform-origin(center);
      }
    }

    .search-icon {
      background: url('/static/images/search.svg');
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block;
      vertical-align: top;
      width: 20px;
      height: 100%;
      margin-right: 25px;

      &:hover {
        cursor: pointer;
      }

      @include media($mobile) {
        margin-right: 1em;
      }
    }

    .fa-logo {
      float: left;
      height: 100%;
      width: inherit;

      @include media($mobile) {
        height: 75%;
      }

      // @media screen and (min-width: $grid-md) {
      //   height: 60%;
      //   svg, img {
      //   }
      // }
    }

    .air-logo {
      display: inline-block;
      vertical-align: middle;
      height: 120%;
      @include media($mobile) {
        height: 90%;
      }

      // @media screen and (min-width: $grid-md) { height: 80%; }
    }



  }
}
