header {
  // background-color: $dark-grey;
  background-color: rgba(0,0,0,0.6);
  padding: 1.5em 1.5em;
  width: 100%;
  height: $header-md;
  position: fixed;
  top: 0; left: 0;
  z-index: 10;
  @include transition(all 300ms ease-in-out);

  // @media screen and (min-width: $grid-md) {
  //   // position: static;
  //   padding: 1em 1.5em;
  //   height: $header-md-expanded;
  //
  //   &.scrolled {
  //     height: $header-md;
  //
  //     .fa-logo {
  //       height: 75%;
  //     }
  //
  //     .air-logo {
  //       height: 100%;
  //     }
  //   }
  // }

  .template-homepage & {
    // height: $header-md + 40;
    // @include filter-gradient(#231f20, #000000, vertical); // IE6-9

    background-color: transparent;

    &:after {
      content: '';
      display: block;
      @include abs-position();
      z-index: -1;
      height: $header-md + 50;
      @include background-image(linear-gradient(top, rgba(21,19,19,0.65) 0%,rgba(0,0,0,0) 100%));

    }

  }

  .nav-section {
    height: 100%;
    margin: 0 auto;
    position: relative;
    @include outer-container($grid-xl);
    // max-width: $grid-lg;

    .logo {
      @include vertical-align();
      @include transition(all 250ms ease-in-out);

      svg, img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .fa-logo {
      float: left;
      height: 100%;
      width: inherit;

      // @media screen and (min-width: $grid-md) {
      //   height: 60%;
      //   svg, img {
      //   }
      // }
    }

    .air-logo {
      float: right;
      height: 125%;
      // @media screen and (min-width: $grid-md) { height: 80%; }
    }
  }
}
