#menu {

  .modal-content {
    box-shadow: none;
    border: none;
  }

  .modal-body {
    text-align: center;
    font-size: em(36);

    @include media($mobile) {

      font-size: em(28);
      line-height: 1.1;

      li {
        margin-top: 20px;
        margin-bottom: 20px;
      }

    }
  }

  .modal-close {
    position: static;
    text-align: center;
    opacity: 1;

    &:hover {
      cursor: default;
    }

    span {
      line-height: 50px;
    }
  }

  a {
    @include transition(color 300ms ease-out);

    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: #fff;
    }
  }

}
