.prod-icon {
  display: block;
  height: 22px;
  width: 22px;

  svg {
    width: 100%;
    height: 100%;

    .a {
      fill: $grey;
    }
  }

  &.active svg .a {
    fill: $orange;
  }

}

.prod-list {

  .row {
    @include row();
  }

  .prod-list-loc {
    text-align: left;
    line-height: 30px;
    @include span-columns(4);

    @include media($mobile) {
      @include span-columns(3);
      @include omega();
      margin-bottom: 0;
      line-height: 20px;
    }
  }

  .prod-list-call-sign {
    text-align: center;
    line-height: 30px;
    @include span-columns(2);

    @include media($mobile) {
      width: 25%;
      @include omega();
      text-align: right;
      margin-bottom: 5px;
      float: right;
    }
  }

  .prod-list-title {
    @include span-columns(6);
    & h5 { color: $orange; }
  }

  @include media($mobile) {
    .prod-list-loc, .prod-list-call-sign { font-size: 90%; line-height: 20px;  }
    // .prod-list-loc, .prod-list-call-sign, .prod-list-title { @include fill-parent; }
    .prod-list-title { @include fill-parent; }
    .prod-list-title { margin-bottom: 1.5em }
  }

}

.prod-grid {
  // display: table;
  @include fill-parent();
  background-color: $dark-grey;
  // @include row(block);

}

.prod-grid-row {
  @include row(table);
}

.prod-grid-item {
  @include span-columns(4);

  @include media($tablet) {
    // display: block;
    @include reset-display;
    @include span-columns(4, block);
  }
}
