.prod-icon {
  display: block;
  height: 22px;
  width: 22px;

  svg {
    width: 100%;
    height: 100%;

    .a {
      fill: $grey;
    }
  }

  &.active svg .a {
    fill: $orange;
  }

}

.prod-list {

  .row {
    @include row();
  }

  .prod-list-loc {
    text-align: left;
    line-height: 30px;
    @include span-columns(4);

    @include media($mobile) {
      @include span-columns(3);
      @include omega();
      margin-bottom: 0;
      line-height: 20px;
    }
  }

  .prod-list-call-sign {
    text-align: center;
    line-height: 30px;
    @include span-columns(2);

    @include media($mobile) {
      width: 25%;
      @include omega();
      text-align: right;
      margin-bottom: 5px;
      float: right;
    }
  }

  .prod-list-title {
    @include span-columns(6);
    & h5 { color: $orange; }
  }

  @include media($mobile) {
    .prod-list-loc, .prod-list-call-sign { font-size: 90%; line-height: 20px;  }
    // .prod-list-loc, .prod-list-call-sign, .prod-list-title { @include fill-parent; }
    .prod-list-title { @include fill-parent; }
    .prod-list-title { margin-bottom: 1.5em }
  }

}

.prod-grid {
  // display: table;
  @include fill-parent();
  // @include row(block);

}

.prod-grid-row {
  @include row(table);
}

.prod-grid-item {
  @include span-columns(4);
  position: relative;
  overflow: hidden;
  height: 50vh;

  &:before {
    content: '';
    display: block;
    @include abs-position;
    background-color: $dark-grey;
    opacity: 0.45;
    @include transition(all 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000));
  }

  &:hover {
    cursor: pointer;
    & > .prod-item-bg {
      @include transform(scale(1.05));
    }
    & > .prod-item-link {
      text-decoration: none;
    }
    &:before {
      opacity: 0;
    }
  }

  @include media($tablet) {
    // display: block;
    @include reset-display;
    @include span-columns(4, block);
  }

  & > .prod-item-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    @include transform(scale(1));
    @include transition(all 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000));
    @include abs-position;
  }

  & > .prod-item-link {
    display: block;
    @include abs-position;
    color: #fff;
    font-family: $roboto-reg;

    & > .prod-item-content {
      position: absolute;
      bottom: 10%;
      width: 90%;
      margin-left: 5%;
      text-align: center;

      & > span {
        display: block;
      }
      & > .prod-item-title {
        text-transform: uppercase;
        font-weight: 400;
        font-size: em(19);
        letter-spacing: 7px;
        line-height: 35px;
      }
      & > .prod-item-loc {
        font-weight: 100;
        font-size: em(16);
        letter-spacing: 1.5px;
        line-height: 22px;
      }
    }
  }
}
