
#search {

  .modal-dialog {
    @include media($mobile) {
      // width: 85%;
    }
  }

  .modal-content {
    box-shadow: none;
    border: none;
  }


  .search-form {

    margin-bottom: 50px;

    @include media($mobile) {
      font-size: 75%;
    }

    form {
      position: relative;
      width: 100%;
      height: 4em;
      padding-bottom: 5px;
      border-bottom: 2px solid #fff;

      input {
          position: absolute;

          height: 100%;

          display: inline-block;
          border: 0;
          background-color: transparent;
          font-size: em(24);
          font-family: "Roboto";
          font-weight: 100;
          line-height: 1.53333333;
          color: #fff;


          &:focus{
              outline: none;
          }
          &[type="text"] {
            width: 85%;
          }
          &[type="submit"] {

              height: 70%;
              top: 15%;
              right: 0;
              // padding: 4px 10px;
              padding: .4em .8em;
              font-family: $roboto;
              font-size: em(18);
              border-radius: 5px;

              margin-bottom: 0;
              font-weight: normal;
              text-align: center;
              vertical-align: middle;
              -ms-touch-action: manipulation;
              touch-action: manipulation;
              cursor: pointer;
              background-image: none;
              border: 1px solid #fff;
              white-space: nowrap;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;

              &:hover {
                background: #fff;
                color: #000;
              }
          }
      }
    }
  }



  .search-results {

    .search-results-item {
      margin: 0 auto 25px auto;
      @include outer-container;
    }

    a, h5, p, span {
      color: #fff;
      margin-bottom: 0;
    }

    span {
      font-family: $roboto-reg;
      @include span-columns(3);
    }

    h5 {
      @include span-columns(9);
    }

    @include media($mobile) {
      span, h5 {
        width: 100%;
      }

    }

  }

}
