.social-links {
  display: table;
  margin: 0 auto;

  .template-production & {
    padding-bottom: 2em;
  }

  li {
    padding-left: 7px;
    padding-right: 7px;

  }

  .social-link {
    display: block;
    width: 22px;
    height: 22px;
    background: url('../images/social/link.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    background-size: cover;

    &.social-link-instagram {
      background: url('../images/social/instagram.svg') no-repeat center;
      background-size: auto 100%;
    }
    &.social-link-twitter   {
      background: url('../images/social/twitter.svg') no-repeat center;
      background-size: auto 100%;
    }
    &.social-link-email     {
      background: url('../images/social/email.svg') no-repeat center;
      background-size: auto 100%;
    }
    &.social-link-soundcloud{
      background: url('../images/social/soundcloud.svg') no-repeat center;
      background-size: 100%;
    }
    &.social-link-vimeo     {
      background: url('../images/social/vimeo.svg') no-repeat center;
      background-size: auto 100%;
    }
    &.social-link-youtube   {
      background: url('../images/social/youtube.svg') no-repeat center;
      background-size: auto 100%;
    }
    &.social-link-tumblr    {
      background: url('../images/social/tumblr.svg') no-repeat center;
      background-size: auto 100%;
    }
    &.social-link-facebook    {
      background: url('../images/social/facebook.svg') no-repeat center;
      background-size: auto 100%;
    }
  }
}
