.title {
  position: fixed;
  width: 400px;
  height: $header-md;
  top: 0;
  left: 50%;
  margin-left: -200px;
  z-index: 20;

  & > div {
    @include vertical-align();
    top: 60%;
  }

  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 300;
    padding-left: 40px;
    padding-right: 40px;
    // @include vertical-align();
  }

  h1 {
    font-size: em(36);
    margin-bottom: 7px;
  }
  h2 {
    font-size: em(30);
    margin-bottom: 7px;
  }
  h3 {
    font-size: em(16);
    margin-bottom: 0;
  }
  h6 {
    color: $orange;
    a {
      font-family: $roboto-reg;
    }
  }

}

.title-home {

  margin-top: .7em;
  width: 450px;
  margin-left: -225px;
  position: absolute;

  @include media($header-size) {
    width: 100%;
    height: auto;
    left: 0;
    margin-left: 0;
    margin-top: $header-md;
    font-size: 75%;

    & > div {
      top: 0;
      @include transform(none);
    }
  }

  h1 {
    font-size: em(50);
    margin-bottom: 7px;
  }
  h3 {
    font-family: $roboto-reg;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-indent: 5px;
    font-weight: 100;
    font-size: em(15);
    line-height: 18px;
    margin-bottom: 15px;
  }
}

.title-about {

  height: $header-md * 1.5;
  background-color: $dark-grey;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -($header-md * .5);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: ($header-md * .5) 200px 0 200px;
    border-color: $dark-grey transparent transparent transparent;
    z-index: -1;
  }

  @include media($header-size) {
    position: static;
    width: 100%;
    height: auto;
    // margin-top: $header-md;
    margin-left: 0;
    padding-top: em($header-md) + 2em;
    padding-bottom: 2em;


    & > div {
      top: 0;
      @include transform(none);
    }
    &:after {
      display: none;
    }
  }

  @include media($mobile) {

  }


  .title-section-about {

    margin-top: 15px;
    margin-bottom: 0;

    li:not(:last-child) {
      border-right: 2px solid lighten($dark-grey, 10%);
    }

    li {
      padding-left: 7px;
      padding-right: 7px;
      font-size: em(13);
      letter-spacing: 2px;
      font-family: $roboto-reg;
      color: $grey;
      text-transform: uppercase;
    }

    a {
        font-family: $roboto-reg;
        color: $orange;
    }
  }

  .title-nav {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 18px;
    height: 34px;
    opacity: 0.6;
    @include transition(all 0.3s ease);


    &.title-prev {
      background: url('/static/images/connections_arrow_left.png') no-repeat center;
      left: 15px;
    }
    &.title-next {
      background: url('/static/images/connections_arrow_right.png') no-repeat center;
      right: 15px;
    }
    &:hover {
      opacity: 1;
    }
  }

}
