{% load compress static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

		{# Global stylesheets #}
		{% compress css %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/localore.css' %}">
		{% endcompress %}

		{% block extra_css %}
		{# Override this in templates to add extra stylesheets #}
		{% endblock %}
	</head>

	<body class="{% block body_class %}{% endblock %}">
		{% wagtailuserbar %}

		<div class="main container">

			{% block content %}{% endblock %}

		</div>

		{# Global javascript #}
		{% compress js %}
		<script type="text/javascript" src="{% static 'js/localore.js' %}"></script>
		{% endcompress %}

		{% block extra_js %}
			{# Override this in templates to add extra javascript #}
		{% endblock %}
	</body>
</html>
