{% load compress staticfiles wagtailuserbar %}
{% load about_tags blog_tags dispatches_tags productions_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
		<meta name="description" content="AIR’s Localore: Finding America is building media with communities from Alaska to Baltimore, carrying us beyond the headlines, and illuminating the rich diversity of our nation.">
    <meta name="keywords" content="public media, finding america, localore, air, air media, association of independents in radio, innovation, online listen, public radio, npr, hearken, fort drum, charm city, frontier of change, confederate monuments, podcasts, podcast, ensley, birmingham, climate change alaska, precious lives, flux">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Facebook META -->
  	<meta property="og:site_name" content="Localore: Finding America | Beyond the Headlines with AIR">
  	<meta property="og:title" content="Localore: Finding America | Beyond the Headlines with AIR">
  	<meta property="og:description" content="AIR’s Localore: Finding America is building media with communities from Alaska to Baltimore, carrying us beyond the headlines, and illuminating the rich diversity of our nation.">
  	<meta property="og:url" content="http://findingamerica.airmedia.org/">
  	<meta property="og:image" content="http://i.imgur.com/btxmXfa.jpg">
  	<meta property="og:type" content="website">

  	<!-- Twitter META -->
  	<meta name="twitter:card" content="summary_large_image">
  	<meta name="twitter:title" content="Localore: Finding America | Beyond the Headlines with AIR">
  	<meta name="twitter:description" content="AIR’s Localore: Finding America is building media with communities from Alaska to Baltimore, carrying us beyond the headlines, and illuminating the rich diversity of our nation.">
  	<meta name="twitter:url" content="http://findingamerica.airmedia.org/">
  	<meta name="twitter:image" content="http://i.imgur.com/btxmXfa.jpg">

	<!--<link rel="shortcut icon" href="favicon.ico">-->

		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700|Roboto:400,300,100,500,700,300italic,400italic,100italic,500italic,700italic' rel='stylesheet' type='text/css'>

		{# Global stylesheets #}
		{% compress css %}

		<!-- bower:css -->
		<link rel="stylesheet" href="/static/bower_components/normalize-css/normalize.css" />
		<!-- endbower -->

		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		{% endcompress %}

		{% block extra_css %}
		{# Override this in templates to add extra stylesheets #}
		{% endblock %}
	</head>

	<body class="{% block body_class %}{% endblock %}">
		{% wagtailuserbar %}

		<header>
			<div class="nav-section">
				<div class="menu-icon" data-toggle="modal" data-target="#menu">
				<!-- <div class="menu-icon"> -->
					<span></span>
					<span></span>
					<span></span>
				</div>
				<a class="logo fa-logo" href="/">
					<img src="{% static 'images/FA_logo.png' %}" alt="Finding America Logo" />
				</a>
			  <a class="logo air-logo" href="http://airmedia.org" target="_blank">
			    <img src="{% static 'images/AIR_logo.png' %}" alt="AIR Media Logo" />
			  </a>
			</div>
    </header>



					{#<p>You can access the admin interface <a href="{% url 'wagtailadmin_home' %}">here</a>.#}

					<!-- &nbsp;&nbsp;&nbsp;&nbsp; -->


    <div id="view">
      {% block content %}{% endblock %}
    </div>

    <footer>
      <p>
        Copyright © AIR Inc. All rights reserved.&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://airmedia.org" target="blank">airmedia.org</a>
      </p>
    </footer>


		{# TODO make the hrefs static urls #}
		<div class="modal fade" id="menu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<ul class="list-unstyled">
							<li><a href="/">Home</a></li>

							{% get_blog_index_page as connections_root %}
							{% if connections_root %}
								<li><a href="{{ connections_root.url }}">{{ connections_root }}</a></li>
							{% endif %}

							{% get_dispatches_index_page as dispatches_root %}
							{% if dispatches_root %}
								<li><a href="{{ dispatches_root.url }}">{{ dispatches_root }}</a></li>
							{% endif %}

							<li><a href="/#livefeed">Live Feed</a></li>

							{% get_productions_index_page as productions_root %}
							{% if productions_root %}
								<li><a href="{{ productions_root.url }}">{{ productions_root }}</a></li>
							{% endif %}

							{% get_about_index_page as about_root %}
							{% if about_root %}
								<li><a href="{{ about_root.url }}">{{ about_root }}</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
				<div class="modal-close">
					<a data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</a>
				</div>
			</div>
		</div>

		<script>
		  // Load the IFrame Player API code asynchronously.
		  var tag = document.createElement('script');
		  tag.src = "https://www.youtube.com/player_api";
		  var firstScriptTag = document.getElementsByTagName('script')[0];
		  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
		</script>

		{# Global javascript #}
		{% compress js %}
		<!-- bower:js -->
		<script src="/static/bower_components/jquery/dist/jquery.js"></script>
		<script src="/static/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
		<script src="/static/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
		<script src="/static/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
		<script src="/static/bower_components/vide/dist/jquery.vide.js"></script>
		<!-- endbower -->
		<script type="text/javascript" src="{% static 'js/localore.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/videos.js' %}"></script>
		{% endcompress %}

		{% block extra_js %}
			{# Override this in templates to add extra javascript #}
		{% endblock %}
	</body>
</html>
