{% load compress staticfiles wagtailcore_tags wagtailuserbar localore_core_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
		<meta name="description" content="AIR’s Localore: Finding America is building media with communities from Alaska to Baltimore, carrying us beyond the headlines, and illuminating the rich diversity of our nation.">
    <meta name="keywords" content="public media, finding america, localore, air, air media, association of independents in radio, innovation, online listen, public radio, npr, hearken, fort drum, charm city, frontier of change, confederate monuments, podcasts, podcast, ensley, birmingham, climate change alaska, precious lives, flux">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Facebook META -->
  	<meta property="og:site_name" content="Localore: Finding America | Beyond the Headlines with AIR">
  	<meta property="og:title" content="Localore: Finding America | Beyond the Headlines with AIR">
  	<meta property="og:description" content="AIR’s Localore: Finding America is building media with communities from Alaska to Baltimore, carrying us beyond the headlines, and illuminating the rich diversity of our nation.">
  	<meta property="og:url" content="http://findingamerica.airmedia.org/">
  	<meta property="og:image" content="http://i.imgur.com/btxmXfa.jpg">
  	<meta property="og:type" content="website">

  	<!-- Twitter META -->
  	<meta name="twitter:card" content="summary_large_image">
  	<meta name="twitter:title" content="Localore: Finding America | Beyond the Headlines with AIR">
  	<meta name="twitter:description" content="AIR’s Localore: Finding America is building media with communities from Alaska to Baltimore, carrying us beyond the headlines, and illuminating the rich diversity of our nation.">
  	<meta name="twitter:url" content="http://findingamerica.airmedia.org/">
  	<meta name="twitter:image" content="http://i.imgur.com/btxmXfa.jpg">

	<!--<link rel="shortcut icon" href="favicon.ico">-->

		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700|Roboto:400,300,100,500,700,300italic,400italic,100italic,500italic,700italic' rel='stylesheet' type='text/css'>

	{# <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css"> #}
	{% comment %}<style type="text/css">
    	/*#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }*/
    	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    	  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			/*#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}*/
/*
	    #mc_embed_signup input.email {
        margin: 0 auto;
        padding: 8px;
        font-size: 0.8125em;
      }*/
    </style>{% endcomment %}

		{# Global stylesheets #}
		{% compress css %}
		<!-- bower:css -->
		<link rel="stylesheet" href="/static/bower_components/normalize-css/normalize.css" />
		<!-- endbower -->

		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		{% endcompress %}

		{% block extra_css %}
		{# Override this in templates to add extra stylesheets #}
		{% endblock %}
	</head>

	<body class="{% block body_class %}{% endblock %}">

		{% wagtailuserbar %}

		<div id="intro">
			<!-- <div class="intro-overlay"></div> -->
			<div class="intro-section">
				<div class="intro-content">
					<img src="{% static 'images/FA_logo_main.svg' %}" alt="Finding America Logo">
					{% get_site_root as site_root %}
					<p>{{ site_root.specific.site_intro|richtext }}</p>
					<div class="intro-enter-btn accessible" tabindex="0">
						<span>Enter</span>
						<span class="enter-icon">
							<?xml version="1.0" encoding="UTF-8" standalone="no"?>
							<svg width="17px" height="29px" viewBox="0 0 17 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							    <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
							    <title>Group 8</title>
							    <desc>Created with Sketch.</desc>
							    <defs></defs>
							    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
							        <g id="Intro---Final" transform="translate(-193.000000, -511.000000)" stroke="#FFFFFF" stroke-width="3">
							            <g id="Description" transform="translate(-1.000000, -17.000000)">
							                <g id="Enter" transform="translate(119.000000, 528.000000)">
							                    <g id="Group-8" transform="translate(76.797222, 2.000000)">
							                        <path d="M0.308664021,0.304878049 L12.4372358,12.2846848" id="Line"></path>
							                        <!-- <path d="M0.308664021,12.5 L12.4372358,24.4798067" id="Line" transform="translate(6.481944, 18.597561) scale(1, -1) translate(-6.481944, -18.597561) "></path> -->
							                        <path d="M0.308664021,12.5 L12.4372358,24.4798067" id="Line" transform="translate(6.481944, 18.3) scale(1, -1) translate(-6.481944, -18.597561) "></path>
							                    </g>
							                </g>
							            </g>
							        </g>
							    </g>
							</svg>
						</span>
					</div>
				</div>
				<div class="intro-sponsor">
					<span>With Support From:</span>
					<img src="{% static 'images/sponsors/CPB.svg' %}" alt="CPB" />
				</div>
			</div>
		</div>

		<header>
			<div class="nav-section">
				<div class="menu-icon accessible" data-toggle="modal" data-target="#menu" tabindex="0">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<a class="logo fa-logo" href="/">
					<img src="{% static 'images/FA_logo.png' %}" alt="Finding America Logo" />
				</a>
				<a class="logo air-logo" href="http://airmedia.org" target="_blank">
					<img src="{% static 'images/AIR_logo.png' %}" alt="AIR Media Logo" />
				</a>
				<div class="search-icon pull-right accessible" data-toggle="modal" data-target="#search" tabindex="0">
				</div>
			</div>
		</header>

    <div id="view">
      {% block content %}{% endblock %}
    </div>

    <footer>
			<div>
				<div class="row">
					<div class="email-signup">
						<div id="mc_embed_signup">
							<form action="https://airmedia.us1.list-manage.com/subscribe/post?u=02d99c12bcbceba188ea5a04c&amp;id=a63141fa19" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate big-search" target="_blank" novalidate>
						    <div id="mc_embed_signup_scroll">
									<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email address to receive dispatches" required>
						    	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						    	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d4f5d1addd4357eb77c3f8a99_588f6c6ef4" tabindex="-1" value=""></div>
						       <input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button">
						    </div>
							</form>
						</div>
					</div>
					<div class="footer-social-links">
						<span>Connect</span>
						<a href="https://www.facebook.com/AIRmedia" target="_blank"><img src="{% static 'images/facebook.svg' %}" alt="facebook" /></a>
						<a href="https://twitter.com/airmedia" target="_blank"><img src="{% static 'images/twitter.svg' %}" alt="twitter" /></a>
						<a href="https://www.instagram.com/aircurator/" target="_blank"><img src="{% static 'images/instagram.svg' %}" alt="instagram" /></a>
						<a href="https://www.snapchat.com/add/findingamerica" target="_blank"><img src="{% static 'images/snapchat.svg' %}" alt="snapchat" /></a>
						<a href="https://www.youtube.com/channel/UCJLhdx3-B-LWG1N_z_-Uu0A" target="_blank"><img src="{% static 'images/youtube.svg' %}" alt="youtube" /></a>
					</div>
				</div>
				<div class="row">
					<div class="funders">
						<a class="wyncote" href="http://www.wyncotefoundation.org/" target="_blank"><img src="{% static 'images/sponsors/Wyncote.svg' %}" alt="Wyncote" />
						</a>
						<a class="artworks" href="https://www.arts.gov/" target="_blank"><img src="{% static 'images/sponsors/Artworks.svg' %}" alt="Artworks" /></a>
						<a class="cpb" href="http://www.cpb.org/" target="_blank"><img src="{% static 'images/sponsors/CPB.svg' %}" alt="CPB" /></a>
						<a class="ford" href="https://www.fordfoundation.org/" target="_blank"><img src="{% static 'images/sponsors/Ford.svg' %}" alt="Ford" /></a>
						<a class="macarthur" href="https://www.macfound.org/" target="_blank"><img src="{% static 'images/sponsors/MacArthur.svg' %}" alt="MacArthur" /></a>
					</div>
					<div class="copyright">
						Copyright © AIR Inc. All rights reserved.&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://airmedia.org" target="_blank">airmedia.org</a>
					</div>
				</div>
			</div>
    </footer>

		<div class="modal fade" id="menu" tabindex="-1" role="dialog" aria-labelledby="mainMenu">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<ul class="list-unstyled">
							<li><a href="/">Home</a></li>
							{% get_menu_items as menu_items %}
							{% for item in menu_items %}
							<li><a href="{{ item.url }}">{{ item }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="modal-close">
					<a data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</a>
				</div>
			</div>
		</div>

		<div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="search">
			<div class="modal-close">
				<a data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</a>
			</div>
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="search-form">
							<form id="site-search" class="validate" target="_blank" novalidate>
									<input type="text" value="" name="site-search-text" id="site-search-text" placeholder="Enter your search here" required autocomplete="off">
						      <input type="submit" value="Search" name="site-search-button" id="site-search-button" class="button">
							</form>
						</div>
						<div class="search-results"></div>
					</div>
				</div>
			</div>
		</div>

		{# Global JavaScript #}
		{% compress js %}
		<!-- bower:js -->
		<script src="/static/bower_components/jquery/dist/jquery.js"></script>
		<script src="/static/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
		<script src="/static/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
		<script src="/static/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
		<script src="/static/bower_components/vide/dist/jquery.vide.js"></script>
		<script src="/static/bower_components/fastclick/lib/fastclick.js"></script>
		<!-- endbower -->

		<script type="text/javascript" src="{% static 'js/localore.js' %}"></script>
		{% endcompress %}

		{% block extra_js %}
			{# Override this in templates to add extra JavaScript #}
		{% endblock %}
	</body>
</html>
