{% load wagtailcore_tags people_tags %}

{% for production in productions %}

<div class="team-item" id="{{ production.title|slugify }}">

	<h6 class="team-location">{{ production.city }}, {{ production.state }}</h6>
	<a data-toggle="collapse"
			href="#team-members-{{ forloop.counter0 }}"
			aria-expanded="false"
			aria-controls="team-members-{{ forloop.counter0 }}"
			data-parent=".team-section">
		<h4 class="team-name">{{ production.title }}</h4>
	</a>

	{# <div id="team-members-{{ forloop.counter0 }}" class="collapse"> #}
	<div id="team-members-{{ forloop.counter0 }}">
		<div class="team-members clearfix">
			{% for item in production.related_people.all %}
			{% person item.person %}
			{% endfor %}
		</div>
	</div>

</div>

{% endfor %}
