{% load wagtailcore_tags wagtailimages_tags %}

{% for production in productions %}

	<div class="row" id="{{ production.title|slugify }}">

		<div class="text-center">
			<h4>{{ production.city }}, {{ production.state }}</h4>
			<h3>{{ production.title }}</h3>
		</div>

		<br>
		<br>

		{% for item in production.related_people.all %}
		{% with person=item.person %}
		<div class="col-md-4">
			{% image person.photo fill-140x140-c100 %}
			<p>
				<b>{{ person.full_name }}</b>
			</p>
			<p>
				{{ person.email }}
				{{ person.twitter_url }}
				{{ person.instagram_url }}
			</p>
			<p>
				{{ person.biography|richtext }}
			</p>
		</div>
		{% endwith %}
		{% endfor %}

	</div>

	{% if not forloop.last %}<hr>{% endif %}
	<br>

{% endfor %}
