{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags dispatches_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

<div id="title" class="title title-about">
	<div>
		<h1>Dispatches</h1>
		<h3>{{ page.subtitle }}</h3>
		<ul class="title-section-about list-inline">
			{#{% dispatches_menu page %}#}
		</ul>
	</div>
</div>

<div class="description">
	{{ page.intro|richtext }}
</div>

<div class="container-full section-dispatches">
	{% block dispatches_index_content %}{% endblock %}
</div>

{% endblock %}
