{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags dispatches_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

<div id="title" class="title title-about">
	<div>
		<h1>{{ index_page.title }}</h1>
		<h3>{{ index_page.subtitle }}</h3>
		<ul class="title-section-about list-inline">
			{% dispatches_menu index_page dispatch_type %}
		</ul>
	</div>
</div>

<div class="description">
	{{ index_page.intro|richtext }}
</div>

<div class="fade-big"></div>

<div class="container-full section-dispatches">

	{% for dispatch in dispatches %}

		<div class="dispatch-item-wrapper">
			<div class="post-item">
				{% image dispatch.poster_image max-2000x2000 as poster_image %}
				<div class="post-item-bg" style="background-image:url('{{ poster_image.url }}')"></div>
				{# <a class="post-item-link" data-toggle="modal" data-target="#dispatch" data-item="{% pageurl dispatch %}?json"> <!-- trigger modal --> #}
				<a class="post-item-link" href="{% pageurl dispatch %}">
					<div class="post-item-content">
						<span class="post-item-title">{{ dispatch.title }}</span>
						<ul class="list-inline post-item-list">
							<li><span class="post-item-date">{{ dispatch.date }}</span></li>
							<li><span class="post-item-loc">{{ dispatch.city }}, {{ dispatch.state }}</span></li>
						</ul>
						<span class="post-item-desc">{{ dispatch.description|richtext }}</span>
					</div>
					<div class="play-icon show accessible" tabindex="0"></div>
				</a>
			</div>
		</div>

	{% endfor %}

	<div class="modal fade" id="dispatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-close">
			<a data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
			</a>
		</div>
		<a class="dispatch-arrow dispatch-prev"></a>
		<a class="dispatch-arrow dispatch-next"></a>
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">

				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}
