{% extends "dispatches/base.html" %}

{% load wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

{% block body_class %}template-video-dispatches-index{% endblock %}

{% block dispatches_index_content %}

	{% for dispatch in dispatches %}

		<div class="dispatch-item-wrapper">
			<div class="post-item">
				{% image dispatch.poster_image original as image %}
				<div class="post-item-bg" style="background-image:url('{{ image.file.url }}')"></div>
				<!-- <a class="post-item-link" data-toggle="modal" data-target="#dispatch" data-item="{% pageurl dispatch %}?json"> <!-- trigger modal -->
				<a class="post-item-link" data-item="{% pageurl dispatch %}?json">
					<div class="post-item-content">
						<span class="post-item-title">{{ dispatch.title }}</span>
						<ul class="list-inline post-item-list">
							<li><span class="post-item-date">{{ dispatch.date }}</span></li>
							<li><span class="post-item-loc">{{ dispatch.city }}, {{ dispatch.state }}</span></li>
						</ul>
						<span class="post-item-desc">{{ dispatch.description|richtext }}</span>
					</div>
				</a>
			</div>
		</div>

	{% endfor %}

	<div class="modal fade" id="dispatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-close">
			<a data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
			</a>
		</div>
		<div class="dispatch-arrow dispatch-prev"></div>
		<div class="dispatch-arrow dispatch-next"></div>
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">

				</div>
			</div>
		</div>
	</div>

{% endblock %}
