{% extends "dispatches/base.html" %}

{% load staticfiles wagtailcore_tags %}

{% block body_class %}template-dispatch{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		var INDEX_PAGE = {
			title: "{{ index_page.title }}",
			path: "{% pageurl index_page %}"
		};
	</script>
	<script type="text/javascript" src="{% static 'js/dispatches.js' %}"></script>
	<script type="text/javascript">
		$(function () {
			loadDispatch({{ data|safe }}, "{% pageurl page %}");
		});
	</script>
{% endblock %}
