{% load wagtailcore_tags wagtailimages_tags %}

<div class="team-member" id="{{ person.full_name|slugify }}-{{ person.pk }}">
	{% image person.photo fill-140x140-c100 %}
	<h6 class="team-member-name">{{ person.full_name }}</h6>
	<p class="team-member-title">{{ person.role }}</p>

	<div class="social-links">
		<ul class="list-inline">
			{% if person.email %}
				<li><a href="mailto:{{ person.email }}" class="social-link social-link-email"></a></li>
			{% endif %}

			{% if person.twitter_url %}
				<li><a href="{{ person.twitter_url }}" class="social-link social-link-twitter" target="_blank"></a></li>
			{% endif %}

			{% if person.instagram_url %}
				<li><a href="{{ person.instagram_url }}" class="social-link social-link-instagram" target="_blank"></a></li>
			{% endif %}
		</ul>
	</div>
	<div class="team-member-desc">{{ person.biography|richtext }}</div>
</div>
