{% load wagtailcore_tags wagtailimages_tags %}

<div class="team-member">
	{# <img src="https://assets.lensculture.com/static/competitions/jury/juror-ann-2.jpg" /> #}
	{# <img src="{% image person.photo fill-140x140-c100 %}" /> #}
	{% image person.photo fill-140x140-c100 %}
	<h6 class="team-member-name">{{ person.full_name }}</h6>
	<p class="team-member-title">{{ person.role }}</p>

	<div class="social-links">
		<ul class="list-inline">
			<li><a href="mailto:{{ person.email }}" class="social-link social-link-email"></a></li>
			<li><a href="{{ person.twitter_url }}" class="social-link social-link-twitter"></a></li>
			<li><a href="{{ person.instagram_url }}" class="social-link social-link-instagram"></a></li>
		</ul>
	</div>
	<div class="team-member-desc">{{ person.biography|richtext }}</div>
</div>
