{% extends "base.html" %}

{% load staticfiles wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block title_postfix %}{% endblock %}

{% block content %}

<div id="title" class="title title-home">
	<div>
		<h1>
			{% if page.related_content_page %}
				<a href="{% pageurl page.related_content_page %}">{{ page.related_content_title }}</a>
			{% else %}
				{{ page.related_content_title }}
			{% endif %}
		</h1>

		<h3>{{ page.related_content_subtitle }}</h3>
	</div>
</div>

<div class="container-full">

	<section class="hero-section">
		{% image page.video_poster_image_mobile max-1000x1000 as mobile_poster_image %}
		{% image page.video_poster_image max-2000x2000 as poster_image %}
		{% if page.video_mp4 and page.video_webm and page.video_ogv and poster_image %}
			<div class="full-bg-video preview preview-desktop"
					 data-vide-bg="mp4: {{ page.video_mp4.file.url }}, webm: {{ page.video_webm.file.url }}, ogv: {{ page.video_ogv.file.url }}, poster: {{ poster_image.url }}"
					 data-vide-options="posterType: {{ page.video_poster_image_file_extension }}">
			</div>
			<div class="full-bg-image preview preview-mobile" style="background-image:url({{ mobile_poster_image.url }})"></div>
		{% else %}
			<div class="full-bg-image preview" style="background-image:url({{ poster_image.url }})"></div>
		{% endif %}
		<div id="main-video" class="full-bg-video">
			<div id="youtube-embed"></div>
		</div>
		<div class="play-icon accessible" tabindex="0"></div>
		<div class="view-more accessible" tabindex="0">
			LIVE FEED
		</div>
		{% if page.view_more_page %}
			<div class="after-link">
				<a href="{% pageurl page.view_more_page %}">{{ page.view_more_title }}</a>
			</div>
		{% endif %}
	</section>

	<section class="live-feed" id="livefeed">
		<div class="container">
			<h4>Live Feed</h4>
			{% if page.live_feed_intro %}
			{{ page.live_feed_intro|richtext }}
			{% endif %}
		</div>
	</section>

	{% with juicer_feed_id=settings.localore_admin.JuicerSettings.juicer_feed_id %}
	{% if juicer_feed_id %}
	<ul class="juicer-feed" data-feed-id="{{ juicer_feed_id }}" data-style="image-grid" data-per="50" data-pages="2" data-after="checkViewHeight()"></ul>
	{% endif %}
	{% endwith %}

</div>

<div id="intro">
	<!-- <div class="intro-overlay"></div> -->
	<div class="intro-section">
		<div class="intro-content">
			<img src="{% static 'images/FA_logo_main.svg' %}" alt="Finding America Logo">
			<p>{{ page.site_intro|richtext }}</p>
			<div class="intro-enter-btn accessible" tabindex="0">
				<span>Enter</span>
				<span class="enter-icon">
					<?xml version="1.0" encoding="UTF-8" standalone="no"?>
					<svg width="17px" height="29px" viewBox="0 0 17 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
						<title>Group 8</title>
						<desc>Created with Sketch.</desc>
						<defs></defs>
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
							<g id="Intro---Final" transform="translate(-193.000000, -511.000000)" stroke="#FFFFFF" stroke-width="3">
								<g id="Description" transform="translate(-1.000000, -17.000000)">
									<g id="Enter" transform="translate(119.000000, 528.000000)">
										<g id="Group-8" transform="translate(76.797222, 2.000000)">
											<path d="M0.308664021,0.304878049 L12.4372358,12.2846848" id="Line"></path>
											<!-- <path d="M0.308664021,12.5 L12.4372358,24.4798067" id="Line" transform="translate(6.481944, 18.597561) scale(1, -1) translate(-6.481944, -18.597561) "></path> -->
											<path d="M0.308664021,12.5 L12.4372358,24.4798067" id="Line" transform="translate(6.481944, 18.3) scale(1, -1) translate(-6.481944, -18.597561) "></path>
										</g>
									</g>
								</g>
							</g>
						</g>
					</svg>
				</span>
			</div>
		</div>
		<div class="intro-sponsor">
			<span>With Support From:</span>
			<img src="{% static 'images/sponsors/CPB.svg' %}" alt="CPB" />
		</div>
	</div>
</div>

{% comment %}
<!-- <div class="modal fade" id="homeVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<a class="modal-close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">×</span>
	</a>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body embed-responsive embed-responsive-16by9">
				<div id="modal-player" class=""></div>
			</div>
		</div>
	</div>
</div> -->
{% endcomment %}

<script type="text/javascript">
	// Load the IFrame Player API code asynchronously.
	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	window.YOUTUBE_ID = '{{ page.video_youtube_id }}';
	window.IS_360_VIDEO = {{ page.video_is_360|yesno:"true,false" }};
</script>

{% endblock %}

{% block extra_css %}
	<link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="{% static 'js/videos.js' %}"></script>

	{# NOTE: need to specify the Juicer embed WITHOUT JQUERY #}
	<script src="//assets.juicer.io/embed-no-jquery.js" type="text/javascript"></script>
{% endblock %}
