{% extends "base.html" %}

{% load staticfiles wagtailcore_tags productions_tags blog_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div id="title" class="title title-home">
	<div>
		<h1>
			{% if page.related_content_page %}
				<a href="{% pageurl page.related_content_page %}">{{ page.related_content_title }}</a>
			{% else %}
				{{ page.related_content_title }}
			{% endif %}
		</h1>

		<h3>{{ page.related_content_subtitle }}</h3>
	</div>
</div>

<div class="container-full">

	<section class="hero-section">
    {% if page.video_mp4 and page.video_webm and page.video_ogv and page.video_poster_image %}
  		<div id="preview" class="full-bg-video"
           data-vide-bg="mp4: {{ page.video_mp4.file.url }}, webm: {{ page.video_webm.file.url }}, ogv: {{ page.video_ogv.file.url }}, poster: {{ page.video_poster_image.file.url }}"
  			   data-vide-options="posterType: jpg">
  		</div>
    {% else %}
      <div id="preview" class="full-bg-image" style="background-image:url({{ page.video_poster_image.file.url }})"></div>
    {% endif %}
    <div id="main-video" class="full-bg-video">
      <div id="youtube-embed"></div>
    </div>
		<div class="play-icon"></div>
    <div class="view-more">
      LIVE FEED
    </div>
    <div class="after-link">
      <a href="{% pageurl page.view_more_page %}">{{ page.view_more_title }}</a>
    </div>
	</section>

	<section class="live-feed" id="livefeed">
		<div class="container">
			<h4>Live Feed</h4>
			{% if page.live_feed_intro %}
			{{ page.live_feed_intro|richtext }}
			{% endif %}
		</div>
	</section>

	{% with juicer_feed_id=settings.localore_admin.JuicerSettings.juicer_feed_id %}
	{% if juicer_feed_id %}
	<ul class="juicer-feed" data-feed-id="{{ juicer_feed_id }}" data-style="image-grid" data-per="50" data-pages="2" data-after="checkViewHeight()"></ul>
	{% endif %}
	{% endwith %}

</div>

<!-- <div class="modal fade" id="homeVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<a class="modal-close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">×</span>
	</a>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body embed-responsive embed-responsive-16by9">
				<div id="modal-player" class=""></div>
			</div>
		</div>
	</div>
</div> -->

<script type="text/javascript">
	// Load the IFrame Player API code asynchronously.
	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/player_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	window.YOUTUBE_ID = '{{ page.video_youtube_id }}';
</script>

{% endblock %}

{% block extra_css %}
	<link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="{% static 'js/videos.js' %}"></script>

	{# NOTE: need to specify the Juicer embed WITHOUT JQUERY #}
	<script src="//assets.juicer.io/embed-no-jquery.js" type="text/javascript"></script>
{% endblock %}
