{% extends "base.html" %}

{% load staticfiles wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class="container-full">

	<div id="title" class="title title-about">
		<div>
			<h1>{{ page.title }}</h1>
		</div>
	</div>

	{% if page.live_feed_intro %}
		<div class="description">{{ page.live_feed_intro|richtext }}</div>
	{% endif %}

	{% with juicer_feed_id=settings.localore_admin.JuicerSettings.juicer_feed_id %}
	{% if juicer_feed_id %}
	<ul class="juicer-feed" data-feed-id="{{ juicer_feed_id }}" data-style="modern" data-per="50" data-pages="2" data-after="checkViewHeight()"></ul>
	{% endif %}
	{% endwith %}

</div>

{% endblock %}
