{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ page.get_verbose_name|slugify }}{% endblock %}

{% block content %}

	<div class="page-header">

		<h2>{{ page.title }}</h2>

		{% with prev=page.get_prev_siblings.live.first next=page.get_next_siblings.live.first %}
		<nav>
			{% if prev %}
				<a href="{% pageurl prev %}" title="{{ prev }}">previous</a>
			{% else %}
				previous
			{% endif %}

			&nbsp;&nbsp;|&nbsp;&nbsp;

			{% if next %}
				<a href="{% pageurl next %}" title="{{ next }}">next</a>
			{% else %}
				next
			{% endif %}

			&nbsp;&nbsp;|&nbsp;&nbsp;

			<a href="{% pageurl page.productions_index %}">back to list of productions</a>
		</nav>
		{% endwith %}

	</div>

	{% image page.hero_image fill-800x300-c100 %}

	{{ page.description|richtext }}

{% endblock %}
