{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ page.get_verbose_name|slugify }}{% endblock %}

{% block content %}

	<div class="page-header">

		<h2>{{ page.title }}</h2>
		<h4>{{ page.city }}, {{ page.get_state_display }}</h4>

		{% image page.hero_image fill-900x150-c100 %}
		<br>
		<br>

		{% with prev=page.get_prev_siblings.live.first next=page.get_next_siblings.live.first %}
		<nav>
			{% if prev %}
				<a href="{% pageurl prev %}" title="{{ prev }}">previous</a>
			{% else %}
				previous
			{% endif %}

			&nbsp;&nbsp;|&nbsp;&nbsp;

			{% if next %}
				<a href="{% pageurl next %}" title="{{ next }}">next</a>
			{% else %}
				next
			{% endif %}

			&nbsp;&nbsp;|&nbsp;&nbsp;

			<a href="{% pageurl page.productions_index %}">back to list of productions</a>
		</nav>
		{% endwith %}

	</div>

	{{ page.description|richtext }}

	<hr>

	<h4>Social links</h4>
	{% if page.related_links.all %}
		<ul>
		{% for link in page.related_links.all %}
			<li>
				{{ link.url }}
				{% if link.service_name %} ({{ link.get_service_name_display }}){% endif %}
			</li>
		{% endfor %}
		</ul>
	{% else %}
		No social links.
	{% endif %}

	<h4>Featured people</h4>
	{% if page.related_people.all %}
		<ul>
		{% for item in page.related_people.all %}
			<li>
				{{ item.person }}
			</li>
		{% endfor %}
		</ul>
	{% else %}
		No featured people.
	{% endif %}

	<hr>

	{{ page.highlights|richtext }}

	{% with juicer_feed_id=settings.localore_admin.JuicerSettings.juicer_feed_id %}
		{% if juicer_feed_id and page.juicer_feed_filter %}
			<h4>Juicer feed for {{ page.juicer_feed_filter }}</h4>
			<ul class="juicer-feed" data-feed-id="{{ juicer_feed_id }}" data-filter="{{ page.juicer_feed_filter }}"></ul>
		{% endif %}
	{% endwith %}

{% endblock %}

{% with juicer_feed_id=settings.localore_admin.JuicerSettings.juicer_feed_id %}
	{% if juicer_feed_id and page.juicer_feed_filter %}
		{% block extra_css %}
			<link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css">
		{% endblock %}

		{% block extra_js %}
			<script src="//assets.juicer.io/embed.js" type="text/javascript"></script>
		{% endblock %}
	{% endif %}
{% endwith %}
