{% extends "base.html" %}

{% load about_tags wagtailcore_tags wagtailimages_tags productions_tags %}

{% block body_class %}template-production{% endblock %}

{% block content %}

<div id="title" class="title title-about">
	<div>
		{% get_productions_index_page as productions_index %}
		<h6><a href="{% pageurl productions_index %}">{{ productions_index }}</a></h6>
		<h2>{{ page.title }}</h2>
		<h3>{{ page.city }}, {{ page.get_state_display }}</h3>
		{% with prev=page.get_prev_siblings.live.first next=page.get_next_siblings.live.first %}
			{% if prev %}
				<a href="{% pageurl prev %}" title="{{ prev }}" class="title-nav title-prev"></a>
			{% endif %}
			{% if next %}
				<a href="{% pageurl next %}" title="{{ next }}" class="title-nav title-next"></a>
			{% endif %}
		{% endwith %}
	</div>
</div>

<div class="hero-section hero-section-3by4">
	{% image page.hero_image max-2000x2000 as hero_image %}
	<div class="full-bg-image" style="background-image:url({{ hero_image.url }})"></div>
	{% if page.image_credit_caption %}
		<div class="hero-section-caption">{{ page.image_credit_caption|richtext }}</div>
	{% endif %}
</div>

<div class="text-description prod-description">
	<div class="container {% if page.logo_image %} with-logo {% endif %}">

		<!-- logo -->
		{% image page.logo_image height-150 class="prod-logo" %}

		{{ page.description|richtext }}

		{% if page.related_links.all %}
		<div class="social-links">
			<ul class="list-inline">
			{% for link in page.related_links.all %}
				<li>
					<a href="{{ link.url }}" class="social-link {% if link.service_name %} social-link-{{ link.service_name }} {% endif %}"></a>

				</li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}


		<!-- team -->
		{% if page.featured_people.all %}
		<div class="prod-team">
				{% get_about_team_page as about_team_page %}
				<div class="team-members clearfix">
					{% for item in page.featured_people.all %}
					{% with person=item.person %}
					{# <a href="{{ about_team_page.url }}#{{ item.person.production|slugify }}">{{ item.person }}</a> #}
					<div class="team-member">
						{# <img src="https://assets.lensculture.com/static/competitions/jury/juror-ann-2.jpg" /> #}
						{# <img src="{% image person.photo fill-140x140-c100 %}" /> #}
						{% image person.photo fill-140x140-c100 %}
						<h6 class="team-member-name"><a href="{{ about_team_page.url }}#{{ item.person.production|slugify }}">{{ person.full_name }}</a></h6>
						<p class="team-member-title">{{ person.role }}</p>
					</div>
					{% endwith %}
					{% endfor %}
				</div>
		</div>
		{% endif %}



	</div>
</div>

<div class="container prod-content">

	{% if page.highlights %}
		<h4 class="text-center">Highlights</h4>
		{{ page.highlights|richtext }}
	{% endif %}

	{% with blog_pages=page.mentioned_in %}
	{% if blog_pages %}
		<div class="connection-prods">
			<h6>Mentioned In</h6>
			{% for blog_page in blog_pages %}
				<a href="{{ blog_page.url }}" class="link-large">{{ blog_page }}</a>{% if not forloop.last %}, {% endif %}
			{% endfor %}
		</div>
	{% endif %}
	{% endwith %}

</div>


{% with juicer_feed_id=settings.localore_admin.JuicerSettings.juicer_feed_id %}
	{% if juicer_feed_id and page.juicer_feed_filter %}
		<h6>Social Feed</h6>
		<ul class="juicer-feed" data-feed-id="{{ juicer_feed_id }}" data-filter="{{ page.juicer_feed_filter }}" data-style="slider"></ul>
	{% endif %}
{% endwith %}

{% endblock %}

{% with juicer_feed_id=settings.localore_admin.JuicerSettings.juicer_feed_id %}
	{% if juicer_feed_id and page.juicer_feed_filter %}
		{% block extra_css %}
			<link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css">
		{% endblock %}

		{% block extra_js %}
			{# NOTE: need to specify the juicer embed WITHOUT JQUERY #}
			<script src="//assets.juicer.io/embed-no-jquery.js" type="text/javascript"></script>
		{% endblock %}
	{% endif %}
{% endwith %}
