.rich-text img {
	max-width: 100%;
	height: auto;
}

.responsive-object {
	padding-bottom: 0px !important;
}

.j-filters {
	display: none !important;
}

.juicer-feed.image-grid .j-poster {
	visibility: visible !important;
	opacity: 1 !important;
}
