{% extends "about/base.html" %}

{% load staticfiles wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-about-mission{% endblock %}

{% block about_content %}

<div class="container">

	{{ page.description|richtext }}

</div>

<div class="container-full mission-section">

	<div class="container">

		<div class="mission-airlogo">
			<img src="{% static 'images/AIR_orange.svg' %}" alt="Air Logo" />
		</div>

		<div class="mission-desc">

			{{ page.org_description|richtext }}

			<h5>Related Links</h5>
			{% if page.related_links.all %}
				<ul class="list-unstyled">
					{% for item in page.related_links.all %}
						<li>
							<a href="{{ item.link }}">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}

		</div>



	</div>

</div>

{% endblock %}
