{% extends "about/base.html" %}

{% load wagtailcore_tags wagtailimages_tags productions_tags %}

{% block body_class %}template-about-team{% endblock %}

{% block about_content %}

	{{ page.description|richtext }}

	<div class="team-section">

		{# TODO factor out into "production" tag: see also productions/.../tags/productions.html #}
		<div class="team-item">
			<h4 class="team-name">AIR | Localore Team</h4>
			<div>
				<div class="team-members clearfix">
					{% for item in page.related_people.all %}
					{% with person=item.person %}
					<div class="team-member">
						{% image person.photo fill-140x140-c100 %}
						<h6 class="team-member-name">{{ person.full_name }}</h6>
						<p class="team-member-title">{{ person.role }}</p>
						<div class="social-links">
							<ul class="list-inline">
								<li><a href="mailto:{{ person.email }}" class="social-link social-link-email"></a></li>
								<li><a href="{{ person.twitter_url }}" class="social-link social-link-twitter"></a></li>
								<li><a href="{{ person.instagram_url }}" class="social-link social-link-instagram"></a></li>
							</ul>
						</div>
						<div class="team-member-desc">{{ person.biography|richtext }}</div>
					</div>
					{% endwith %}
					{% endfor %}
				</div>
			</div>
		</div>

		{% productions %}

	</div>

{% endblock %}
