{% extends "base.html" %}

{% load about_tags wagtailcore_tags wagtailimages_tags %}

{% block title %}About: {{ page.title }}{% endblock %}

{% block content %}

<div id="title" class="title title-about">
	<div>
		<h1>{{ page.title }}</h1>
		<h3>{{ page.subtitle }}</h3>
		<ul class="title-section-about list-inline">
			<li>
			{% get_about_mission_page as about_mission_page %}
			{% if page == about_mission_page %}
				Mission
			{% else %}
				<a href="{{ about_mission_page.url }}">Mission</a>
			{% endif %}
			</li>

			<li>
			{% get_about_team_page as about_team_page %}
			{% if page == about_team_page %}
				Team
			{% else %}
				<a href="{{ about_team_page.url }}">Team</a>
			{% endif %}
			</li>

			<li>
			{% get_about_contact_page as about_contact_page %}
			{% if page == about_contact_page %}
				Connect
			{% else %}
				<a href="{{ about_contact_page.url }}">Connect</a>
			{% endif %}
			</li>
		</ul>
	</div>
</div>

<div class="description">
</div>
	{% block about_content %}{% endblock %}
{% endblock %}
