{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block title %} About | {{ current_page_name.title }}{% endblock %}

{% block body_class %}template-about-{{ current_page_name }}{% endblock %}

{% block content %}

	<h1>About | {{ current_page_name.title }}</h1>

	<hr>

	<p>
		{% for page_name in about_page_names %}
			{% if page_name == current_page_name %}
				{{ page_name }}
			{% else %}
				<a href="{% url 'about-'|add:page_name %}">{{ page_name }}</a>
			{% endif %}
			{% if not forloop.last %}|{% endif %}
		{% endfor %}
	</p>

	<hr>

	{% block about_content %}{% endblock %}

{% endblock %}
