{% extends "about/base.html" %}

{% load wagtailcore_tags wagtailimages_tags people_tags %}

{% block about_content %}

<p>Aute adipisicing sit irure eu consectetur esse minim amet tempor. Ad adipisicing aute Lorem dolore Lorem Lorem aliquip consequat minim dolore incididunt consectetur nulla. Incididunt officia qui culpa amet ad et in deserunt mollit Lorem. Ut mollit esse aliquip adipisicing esse minim ullamco nisi deserunt. Incididunt in cillum aliquip sint mollit dolor officia ut consectetur sint adipisicing occaecat nisi laborum.</p>

<div class="team-section">
	{% people %}
</div>

{% endblock %}
